.dropzone {
  width: 1280px;
  height: 550px;
  border: 2px dashed #aaa;
  color: #888;
  border-radius: 4px;
  background-color: #f1f8e9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s background, .2s border, .2s color;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.dropzone:hover {
  cursor: pointer;
  background-color: #dcedc8;
  border: 2px dashed #888;
  color: #666;
}
